#root {
  padding: 1rem;
}

.app {
}

.header {
}

main {
  display: flex;
  gap: 1rem;
}

@media (max-width: 520px) {
  main {
    flex-direction: column;
  }
}

.inputs {

}

.results {
  /*border-right: solid #1a1a1a 1px;*/
}

h1 {
  color: #c91024;
  margin: 0 0 1rem;
}

h3 {
  color: #c91024;
  margin: 0;
}